// COLORS
$color-primary-black: #50514F;
$color-primary-red: #F25F5C;
$color-primary-yellow: #FFE066;
$color-primary-blue: #247BA0;
$color-primary-green: #70C1B3;

// FONTS
$font-base: "franklin-gothic-urw", sans-serif;
$font-heading: "alternate-gothic-no-1-d", sans-serif;
